.card-projects {

  &__item-tags {
    margin: 10px 0;
    font-size: 14px;
    color: #ADB0BB;
  }

  &__item-title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
  }

  &__item {
    width: calc(33% - 20px);
    height: 100%;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item-img {
    height: 100%;
    max-height: 326px;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    object-fit: cover;
  }
}
