.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  padding: 20px;
  box-shadow: rgb(113 122 131 / 11%) 0 7px 30px 0;
  box-shadow: 20px 0 20px -20px rgb(0 0 0 / 10%), 0 0 15px rgb(0 0 0 / 6%);

  h1 {
    margin-bottom: 70px;
    font-size: 18px;
    font-weight: 300;
    color: #C1C3CF;

    span {
      font-weight: 600;
    }
  }

  &__list-item {
    margin-bottom: 22px;

    a {
      padding: 5px 15px;
      font-size: 20px;

      &::after {
        content: none;
      }
    }
  }
}
